.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  /* border:solid grey; */
  border-width: 0.2px;
  display: flex;
  justify-content: space-evenly;
  /* height: 18vh; */
}
.logo {
  height: 40px;
  margin: 1em;
  border: solid grey;
  border-radius: 12px;
  border-width: 0.2px;
}
.navTab {
  display: flex;
  color: grey;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.tab {
  margin: 1em;
}
.tab:hover {
  margin: 1em;
  color: rosybrown;
}
.topPic {
  width: 100%;
  border: double grey;
  border-width: 9px;
  margin-bottom:3em;
}
.title {
  font-size: 64px;
  color: rosybrown;
}
.txtAside {
  font-size: 18px;
}
.navbar {
  /* border:solid lime; */
  padding: 12px;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 14px;
}
.cinemaContainer {
  text-align:center;
}
.btnContainer {
  /* border:solid lightblue; */
  display: flex;
  flex-wrap: wrap;
}
.screen {
  /* border:solid grey; */
  width: 100%;
  border-width:.2px;
}
.btnTag {
  /* border:solid grey; */
  font-size:18px;
  margin: 1em;
  text-align: right;
  color: rosybrown;
}
.btnTag:hover {
  /* border:solid grey; */
  margin: 1em;
  color: lime;
}
.miniscreen {
  border: solid lemonchiffon;
  margin: 1em;
  height: 365px;
  border-width:.2px;
  border-radius: 22px;
}
.framer {
  border-radius: 22px;
  width: 100%;
  height: 100%;
}
.historyContainer {
  display: flex;
  /* border:solid white; */
  justify-content: space-around;
  margin-top:4em;
}
.hofImg {
  width: 50%;
}
.description {
  /* border: solid grey; */
  width: 60%;
  padding: 1em;
  text-align: right;
  color: white;
  font-size:15px;
}
.mainPic {
  width: 100%;
}
.smContainer {
  display: flex;
}
.stat {
  width: 30%;
}
.clicker {
  display: flex;
  justify-content: space-evenly;
}
.belt {
  height: 90px;
}
.caroBtn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
}
.caroBtn:hover {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: black;
  color: lime;
  border: solid lime;
}
.reelest {
  border:solid rosybrown;
  border-radius:22px;
  width: 90%;
  height: 42vh;
  margin:1em;
}
.cameoVid {
  border: double white;
  border-width: 9px;
}
.navBtn {
  /* border:solid white; */
  border-width: 0.2px;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.navBtn:hover {
  border: solid white;
  border-width: 0.2px;
  background-color: #333c3f;
  color: lime;
  border-radius: 4px;
}
.titler {
  text-align: right;
}
.blk {
  width: 100%;
}
.regPic {
  /* border:solid grey; */
  width: 100%;
  margin-bottom:3em;
}
.splitContainer {
  /* display:flex; */
}
.nput {
  border-radius: 22px;
  text-align: center;
}
.tutorContainer {
  display: flex;
}
.lifer {
  width: 100%;
}
.joina {
  margin: 1em;
}
.packageContainer {
  height: 42vh;
  display: flex;
  justify-content: space-around;
}
.tier {
  /* border:solid grey; */
  width: 30%;
  padding: 12px;
}
.tier:hover {
  border: solid lime;
  width: 30%;
}
.pricePoint {
  font-size: 42px;
}
.star {
  width: 70%;
  margin: 22px;
  border-radius: 50%;
  border: solid white;
}
.silo {
  width: 100%;
}
.smediaIcon{
  border:solid white;
  background-color: rosybrown;
  height:40px;
  width: 40px;
  border-radius:50%;
}
.smediaIcon:hover{
  border:solid white;
  background-color: rosybrown;
  height:40px;
  width: 40px;
  border-radius:50%;
}
.mediaHolder{
  border-radius:22px;
  
  /* border:solid rosybrown; */
  border-width:.2px;
  display: flex;
  justify-content: space-evenly;
}
.nameSeq{
  color:rosybrown;
}
.splitta{
  margin-top:4em;
  display:flex;
  justify-content: space-around;
}
.wrapPic{
  width:50%;
}
.wrapDesc{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
}
.ruggedTxt{
  font-size:42px;
  color:rosybrown;
}
.lob{
  border:solid rosybrown;
  
  margin-top:4em;
}